# dependencies
node_modules/

# Expo / React Native
.expo/
.expo-shared/
dist/
web-build/
android/
ios/

# Metro / bundlers
.metro-health-check*
*.tsbuildinfo

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env
.env
.env.*

# OS / editors
.DS_Store
Thumbs.db
.vscode/
.idea/

# backend runtime
backend/data/

